<a href="https://colab.research.google.com/github/JoshDevx/Practicando---Manipulaci-n-de-Datos-con-Python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Parcticando Python**

In [1]:
#Este es un comentario
print('Hola mundo!')

Hola mundo!

In [2]:
#Variables
soy_una_variable = 'Hola'
print(soy_una_variable)

Hola

In [3]:
#usamos -> id para saber donde se almacena el valor de la variable
print(id(soy_una_variable))

133826232726000

In [5]:
#Tipos de datos

#Tipo int
number = 1
print(type(number))

<class 'int'>

In [6]:
#Tipo float
number = 1.2
print(type(number))

<class 'float'>

In [7]:
#tipo booleano
aprobado = True
print(type(aprobado))

<class 'bool'>

In [11]:
#Algunos metodos de String
#Podemos crear Strings cuando atribuimos un dato a una variable entre comillas sencillas (') o comillas dobles (").

#convertir a mayusculas
nombre = ' Joshua'
print(nombre.upper())

#convertir a minusculas
apellido = ' Mendoza'
print(apellido.lower())

 JOSHUA
 mendoza

In [10]:
#Eliminar espacios en blanco
nombre = ' Joshua '
print(nombre.strip())

#Reemplazar
nombre = ' Joshua '
print(nombre.replace('u','o'))

Joshua
 Joshoa

In [13]:
#Usamos -> \t -> para dar una tabulacion y \n para dar un salto de linea
#usamor format -> f -> para agregar nuestras variables en el print
print(f'\tMi Nombre es: {nombre.upper()} \n\tMi apellido es: {apellido.upper()}')

	Mi Nombre es:  JOSHUA
	Mi apellido es:  MENDOZA