<a href="https://colab.research.google.com/github/JoshDevx/Practicando---Manipulaci-n-de-Datos-con-Python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Parcticando Python**

In [ ]:
#Este es un comentario
print('Hola mundo!')

Hola mundo!

In [ ]:
#Variables
soy_una_variable = 'Hola'
print(soy_una_variable)

Hola

In [ ]:
#usamos -> id para saber donde se almacena el valor de la variable
print(id(soy_una_variable))

133826232726000

In [ ]:
#Tipos de datos

#Tipo int
number = 1
print(type(number))

<class 'int'>

In [ ]:
#Tipo float
number = 1.2
print(type(number))

<class 'float'>

In [ ]:
#tipo booleano
aprobado = True
print(type(aprobado))

<class 'bool'>

In [ ]:
#Algunos metodos de String
#Podemos crear Strings cuando atribuimos un dato a una variable entre comillas sencillas (') o comillas dobles (").

#convertir a mayusculas
nombre = ' Joshua'
print(nombre.upper())

#convertir a minusculas
apellido = ' Mendoza'
print(apellido.lower())

 JOSHUA
 mendoza

In [ ]:
#Eliminar espacios en blanco
nombre = ' Joshua '
print(nombre.strip())

#Reemplazar
nombre = ' Joshua '
print(nombre.replace('u','o'))

Joshua
 Joshoa

In [ ]:
#Usamos -> \t -> para dar una tabulacion y \n para dar un salto de linea
#usamor format -> f -> para agregar nuestras variables en el print
print(f'\tMi Nombre es: {nombre.upper()} \n\tMi apellido es: {apellido.upper()}')

	Mi Nombre es:  JOSHUA
	Mi apellido es:  MENDOZA

In [ ]:
#INPUT
nombre = input('Ingresa tu nombre: ')
print(f'Hola {nombre}')

Ingresa tu nombre: Joshua
Hola Joshua

#Valores Unicode
[Unicode](https://www.unicode.org/versions/stats/)

In [ ]:
#Valores Unicode
chr(64)

'@'

In [ ]:
#Hola
chr(72) + chr(111) +  chr(108) + chr(97)

'Hola'

#Formatos de

```
print()
```

In [ ]:
#f-string
nombre = "Ana María"
edad = 17
print(f"El nombre de la alumna es {nombre} y su edad es {edad} años.")

El nombre de la alumna es Ana María y su edad es 17 años.

#Tipo de Variable	Palabra Clave
- Cadena de texto	```
%s
```
- Entero ```
%d
```
- Punto flotante	 ```
%f
```
- Caractér ```
%c
```

In [ ]:
#El % debe ir acompañado de una palabra clave para cada tipo de variable que se desee agregar.
nombre_alumno = 'Penélope Camacho'
print('Nombre del alumno: %s' %(nombre_alumno))

Nombre del alumno: Penélope Camacho

In [ ]:
#Si tienes más de una variable, debes ordenarlas según su aparición en el texto y separarlas por comas.
nombre_alumno = 'Penélope Camacho'
edad_alumno = 11
media_alumno = 9.95
print('Nombre del alumno es %s, tiene %d años y su media es %f.' %(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Penélope Camacho, tiene 11 años y su media es 9.950000.

In [ ]:
#sintaxis %.xf, donde x es el número de decimales deseados.
print('Nombre del alumno es %s, tiene %d años y su media es %.2f.' %(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Penélope Camacho, tiene 11 años y su media es 9.95.

In [ ]:
#% no funcionan directamente con valores booleanos.
#Una forma de manejarlo es convirtiendo el valor booleano en una cadena antes de utilizarlo en el formateo con la función str()
x = True
print("Valor de x: %s" % str(x))

Valor de x: True

In [ ]:
#Método .format():
nombre_alumno = 'Penélope Camacho'
print('Nombre del alumno: {}'.format(nombre_alumno))

Nombre del alumno: Penélope Camacho

In [ ]:
nombre_alumno = 'Fabricio Daniel'
edad_alumno = 15
media_alumno = 9.95
print('Nombre del alumno es {}, tiene {} años y su media es {}.' .format(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Fabricio Daniel, tiene 15 años y su media es 9.95.

Nota que con .format(), no tienes el problema de los decimales de coma flotante. Tampoco tienes este problema con las f-strings.

**Caracteres especiales**

In [ ]:
#\n es el carácter de nueva línea y se usa para saltar una línea en el texto (similar a la función "Enter").
print("Estudiar es un esfuerzo constante,\nEs como cultivar una planta,\nNecesitamos dedicación y paciencia,\nPara ver madurar el fruto.")

Estudiar es un esfuerzo constante,
Es como cultivar una planta,
Necesitamos dedicación y paciencia,
Para ver madurar el fruto.

In [ ]:
#\t es el carácter de tabulación y se utiliza para agregar un espacio de tabulación en el texto.
print('Cantidad\tCalidad\n5 muestras\tAlta\n3 muestras\tBaja')

Cantidad	Calidad
5 muestras	Alta
3 muestras	Baja

In [ ]:
#\\ se usa para imprimir una sola barra invertida.
print("Ruta del archivo: C:\\archivos\\documento.csv")

Ruta del archivo: C:\archivos\documento.csv

In [ ]:
#\" se utiliza para imprimir comillas dobles cuando estamos trabajando con una cadena creada con comillas dobles "
print("Una vez oí: \"Los frutos del conocimiento son los más dulces y duraderos de todos.\"")

Una vez oí: "Los frutos del conocimiento son los más dulces y duraderos de todos."

In [ ]:
#\' se utiliza para imprimir comillas simples cuando estamos trabajando con una cadena creada con comillas simples
print('Mi profesora una vez dijo: \'Estudiar es la clave del éxito.\'')

Mi profesora una vez dijo: 'Estudiar es la clave del éxito.'

In [ ]:
#1 - Crea un programa que solicite al usuario que escriba su nombre y luego imprima "Hola, [nombre]."
name = input('Ingresa tu nombre: ')
print(f'Hola {name}')

Ingresa tu nombre: Joshua
Hola Joshua

In [ ]:
#2 - Crea un programa que solicite al usuario que escriba su nombre y edad, y luego imprima "Hola, [nombre], tienes [edad] años."
name = input('Ingresa tu nombre: ')
age = input('Ingresa tu edad: ')
print(f'Hola {name}, tienes {age} años.')

Ingresa tu nombre: Joshua
Ingresa tu edad: 26
Hola Joshua, tienes 26 años.

In [ ]:
#3 - Crea un programa que solicite al usuario que escriba su nombre, edad y altura en metros, y luego imprima "Hola, [nombre], tienes [edad] años y mides [altura] metros."
name = input('Ingresa tu nombre: ')
age = input('Ingresa tu edad: ')
height = input('Ingresa tu altura en metros: ')
print(f'Hola {name}, tienes {age} años y mides {height} metros.')

Ingresa tu nombre: JOSHUA
Ingresa tu edad: 26
Ingresa tu altura en metros: 1.66
Hola JOSHUA, tienes 26 años y mides 1.66 metros.

In [ ]:
#Crea un programa que solicite dos valores numéricos al usuario y luego imprima la suma de ambos valores.
primer_valor = int(input('Ingresa el primer valor: '))
segundo_valor = int(input('Ingresa el segundo valor: '))
suma = primer_valor + segundo_valor
print(f'La suma de los valores es: {suma}')

Ingresa el primer valor: 2
Ingresa el segundo valor: 2
La suma de los valores es: 4

In [ ]:
#5 - Crea un programa que solicite tres valores numéricos al usuario y luego imprima la suma de los tres valores.
primer_valor = int(input('Ingresa el primer valor: '))
segundo_valor = int(input('Ingresa el segundo valor: '))
tercer_valor = int(input('Ingresa el tercer valor: '))
suma = primer_valor + segundo_valor + tercer_valor
print(f'La suma de los valores es: {suma}')

Ingresa el primer valor: 5
Ingresa el segundo valor: 89
Ingresa el tercer valor: 56
La suma de los valores es: 150

In [ ]:
#6 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la resta del primero menos el segundo valor.
primer_valor = int(input('Ingresa el primer valor: '))
segundo_valor = int(input('Ingresa el segundo valor: '))
resta = primer_valor - segundo_valor
print(f'La resta de los valores es: {resta}')

Ingresa el primer valor: 20
Ingresa el segundo valor: 15
La resta de los valores es: 5

In [ ]:
#7 - Crea un programa que solicite dos valores numéricos al usuario y luego imprima la multiplicación de los dos valores.
primer_valor = int(input('Ingresa el primer valor: '))
segundo_valor = int(input('Ingresa el segundo valor: '))
multiplicacion = primer_valor * segundo_valor
print(f'La multiplicacion de los valores es: {multiplicacion}')

Ingresa el primer valor: 5
Ingresa el segundo valor: 4
La multiplicacion de los valores es: 20

In [ ]:
#8 - Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y realice la división entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.
numerador = int(input('Ingresa el numerador: '))
denominador = int(input('Ingresa el denominador: '))
division = numerador / denominador
print(f'La division de los valores es: {division}')

Ingresa el numerador: 12
Ingresa el denominador: 2
La division de los valores es: 6.0

In [ ]:
#Crea un programa que solicite dos valores numéricos, un numerador y un denominador, y devuelva el resto de la división entre los dos valores. Asegúrate de que el valor del denominador no sea igual a 0.
numerador = int(input('Ingresa el numerador: '))
denominador = int(input('Ingresa el denominador: '))
resto = numerador % denominador
print(f'El resto de la division de los valores es: {resto}')

Ingresa el numerador: 45
Ingresa el denominador: 20
El resto de la division de los valores es: 5

In [ ]:
#12 - Crea un código que solicite las 3 notas de un estudiante e imprima el promedio de las notas.
nota1 = int(input('Ingresa la primera nota: '))
nota2 = int(input('Ingresa la segunda nota: '))
nota3 = int(input('Ingresa la tercera nota: '))
promedio = (nota1 + nota2 + nota3) / 3
print(f'El promedio de las notas es: {round(promedio,2)}')

Ingresa la primera nota: 20
Ingresa la segunda nota: 18
Ingresa la tercera nota: 10
El promedio de las notas es: 16.0

In [ ]:
#13 - Crea un código que calcule e imprima el promedio ponderado de los números 5, 12, 20 y 15 con pesos respectivamente iguales a 1, 2, 3 y 4.
promedio_ponderado = (5 * 1 + 12 * 2 + 20 * 3 + 15 * 4) / (1 + 2 + 3 + 4)
print(f'El promedio ponderado de los numeros es: {round(promedio_ponderado,2)}')

El promedio ponderado de los numeros es: 14.9

#Textos

In [ ]:
frase = 'Hola desde Google Colab'

In [ ]:
print(frase)

Hola desde Google Colab

In [ ]:
frase_1 = input('Ingresa una frase: ')
print(frase_1)

Ingresa una frase: La life es la Life
La life es la Life

In [ ]:
frase_2 = input('ingresa una frase: ')
print(frase_2.upper())

ingresa una frase: Hola mundillo
HOLA MUNDILLO

In [ ]:
frase_3 = input('ingresa una frase: ')
print(frase_3.lower())

ingresa una frase: hOLA XD
hola xd

In [ ]:
frase_4 = input('ingresa una frase: ')
print(frase_4.strip())

ingresa una frase:  Hola Mundo
Hola Mundo

In [ ]:
frase_5  = input('ingresa una frase: ')
print(frase_5.replace('e','f'))

ingresa una frase: Eres el mejor
Erfs fl mfjor

In [ ]:
frase_6 = input('ingresa una frase: ')
print(frase_6.replace('a', '@'))

ingresa una frase: Hola a Todos y Todas
Hol@ @ Todos y Tod@s

In [ ]:
frase_7 = input('ingresa una frase: ')
print(frase_7.replace('s','$'))

ingresa una frase: Si o si lo vas a lograr
Si o $i lo va$ a lograr

In [ ]:
#Operador and
#La tabla de verdad del operador and muestra que la salida solo es Verdadero (True) si ambos operandos son Verdaderos. De lo contrario, devuelve Falso (False), como se muestra en la siguiente tabla:
#operando_1	|operando_2	 |operando_1 and operando_2
#False	    |False	     |False
#False	    |True	       |False
#True	      |False	     |False
#True	      |True	       |True

In [ ]:
#Operador or
#La tabla de verdad del operador or muestra que la salida solo es Falso (False) si ambos operandos son Falsos; de lo contrario, devuelve Verdadero (True)
#operando_1	|operando_2	 |operando_1 and operando_2
#False	    |False	     |False
#False	    |True	       |True
#True	      |False	     |True
#True	      |True	       |True

In [ ]:
#Operador not
#El operador not tiene una tabla de verdad más simple, ya que simplemente invierte el valor del operando. Si el operando es Verdadero, devuelve Falso; si es Falso, devuelve Verdadero.
#operando 	|not operando
#False	    |False

In [ ]:
#
num_1 = int(input('Ingresa el primer numero: '))
num_2 = int(input('Ingresa el segundo numero: '))
if num_1 > num_2:
  print(f'El numero {num_1} es mayor')
else:
  print(f'El numero {num_2} es mayor')

Ingresa el primer numero: 10
Ingresa el segundo numero: 25
El numero 25 es mayor

In [ ]:
procentaje_crecimiento = int(input('Ingresa el porcentaje de crecimiento de la empresa: '))

if procentaje_crecimiento > 0:
  print('La empresa ha crecido')
else:
  print('La empresa ha decrecido')

Ingresa el porcentaje de crecimiento de la empresa: -15
La empresa ha decrecido

In [ ]:
lista_vocales = 'a,e,i,o,u'
letra = input('Ingresa una letra: ')
letra_minus = letra.lower()
if letra_minus in lista_vocales:
  print(f'La letra {letra_minus} es una vocal')
else:
  print(f'La letra {letra_minus} es una consonante')

Ingresa una letra: R
La letra r es una consonante

In [ ]:
historial_precios_autos = [50.250, 59.36, 67.500, 44.45]
precio_alto = max(historial_precios_autos)
precio_menor = min(historial_precios_autos)
print(f'El precio mas alto es: {precio_alto}')
print(f'El precio mas bajo es: {precio_menor}')

El precio mas alto es: 67.5
El precio mas bajo es: 44.45

In [ ]:
#Escribe un programa que pregunte sobre el precio de tres productos e indique cuál es el producto más barato para comprar.
precios = []
for i in range(1,4):
  precio = int(input(f'Ingresa el precio del valor {i}:'))
  precios.append(precio)
precio_menor = min(precios)
print(f'El precio mas bajo es: {precio_menor}')

Ingresa el precio del valor 1:51
Ingresa el precio del valor 2:58
Ingresa el precio del valor 3:20
El precio mas bajo es: 20

In [ ]:
num = []
for i in range(1,4):
  num.append(int(input(f'Ingresa el numero {i}:')))
num.sort(reverse=True)
print(num)

Ingresa el numero 1:2
Ingresa el numero 2:12
Ingresa el numero 3:45
[45, 12, 2]

In [ ]:
turno_estudio = input('Ingresa tu turno de estudio: ')
turno = turno_estudio.lower()
if turno == 'mañana':
  print('Buenos dias')
elif turno == 'tarde':
  print('Buenas tardes')
elif turno == 'noche':
  print('Buenas noches')
else:
  print('Valor incorrecto')

Ingresa tu turno de estudio: mañana
Buenos dias

In [ ]:
number = int(input('Ingresa un numero: '))
if number % 2 == 0:
  print(f'El numero {number} es par')
else:
  print(f'El numero {number} es impar')

Ingresa un numero: 25
El numero 25 es impar

In [ ]:
number = float(input('Ingresa un numero: '))
if number == int(number):
    print(f'El numero {round(number)} es entero')
else:
    print(f'El numero {number} es decimal')

Ingresa un numero: 2
El numero 2 es entero

#Momento de los proyectos

In [ ]:
numero_1 = int(input('Ingresa el primer numero: '))
numero_2 = int(input('Ingresa el segundo numero: '))
operacion = input('Ingresa la operacion a realizar \nsuma=1 \nresta=2 \nmultiplicacion=3 \ndivision=4: ')
if operacion == '1':
  calculo = numero_1 + numero_2
  print(f'La suma de los numeros es: {calculo}')
  if calculo % 2 == 0:
    print(f'El numero {calculo} es par')
  else:
      print(f'El numero {calculo} es impar')
  if calculo > 0:
    print(f'El numero {calculo} es positivo')
  else:
    print(f'El numero {calculo} es negativo')
  if calculo == int(calculo):
    print(f'El numero {calculo} es entero')
  else:
    print(f'El numero {calculo} es decimal')
elif operacion == '2':
  calculo = numero_1 - numero_2
  print(f'La resta de los numeros es: {calculo}')
  if calculo % 2 == 0:
    print(f'El numero {calculo} es par')
  else:
      print(f'El numero {calculo} es impar')
  if calculo > 0:
    print(f'El numero {calculo} es positivo')
  else:
    print(f'El numero {calculo} es negativo')
  if calculo == int(calculo):
    print(f'El numero {calculo} es entero')
  else:
    print(f'El numero {calculo} es decimal')
elif operacion == '3':
  calculo = numero_1 * numero_2
  print(f'La multilicación de los numeros es: {calculo}')
  if calculo % 2 == 0:
    print(f'El numero {calculo} es par')
  else:
      print(f'El numero {calculo} es impar')
  if calculo > 0:
    print(f'El numero {calculo} es positivo')
  else:
    print(f'El numero {calculo} es negativo')
  if calculo == int(calculo):
    print(f'El numero {calculo} es entero')
  else:
    print(f'El numero {calculo} es decimal')
elif operacion == '4':
  calculo = numero_1 / numero_2
  print(f'La división de los numeros es: {calculo}')
  if calculo % 2 == 0:
    print(f'El numero {calculo} es par')
  else:
      print(f'El numero {calculo} es impar')
  if calculo > 0:
    print(f'El numero {calculo} es positivo')
  else:
    print(f'El numero {calculo} es negativo')
  if calculo == int(calculo):
    print(f'El numero {calculo} es entero')
  else:
    print(f'El numero {calculo} es decimal')
else:
  print('Operacion incorrecta')

Ingresa el primer numero: 50
Ingresa el segundo numero: 58
Ingresa la operacion a realizar
suma=1
resta=2
multiplicacion=3
division=4: 2
La resta de los numeros es: -8
El numero -8 es par
El numero -8 es negativo
El numero -8 es entero

In [ ]:
longitud_1 = int(input('Ingresa la longitud del primer lado: '))
longitud_2 = int(input('Ingresa la longitud del segundo lado: '))
longitud_3 = int(input('Ingresa la longitud del tercer lado: '))
if longitud_1 + longitud_2 > longitud_3 and longitud_1 + longitud_3 > longitud_2 and longitud_2 + longitud_3 > longitud_1:
  print('Se puede formar un triangulo')
  if longitud_1 == longitud_2 == longitud_3:
    print('El triangulo es equilatero')
  elif longitud_1 == longitud_2 or longitud_1 == longitud_3 or longitud_2 == longitud_3:
    print('El triangulo es isoceles')
  else:
    print('El triangulo es escaleno')
else:
  print('No se puede formar un triangulo')

Ingresa la longitud del primer lado: 1
Ingresa la longitud del segundo lado: 1
Ingresa la longitud del tercer lado: 0
No se puede formar un triangulo

In [ ]:
#PRECIO = $1.70 POR LITRO
#ETANOL = HASTA 15 LITROS -> DESCUENTO DE 2% POR LITRO
#ETANOL = MAS 15 LITROS -> DESCUENTO DE 4% POR LITRO

#PRECIO = $2.00 POR LITRO
#DIESES = HASTA 15 LITROS -> DESCUENTO DE 3% POR LITRO
#DIESEL = MAS 15 LITROS -> DESCUENTO DE 5% POR LITRO

#descuentos Diesel
precio_diesel = 2.00
hasta_15_litros_diesel = 0.97
mas_15_litros_diesel = 0.95
#descuentos Etanol
precio_etanol = 1.70
hasta_15_litros_etanol = 0.98
mas_15_litros_etanol = 0.96

litros = float(input('Ingresa la cantidad de litros: '))
tipo_combustible = input('Ingresa el tipo de combustible: \nDiesel = D \nEtanol = E ')
if tipo_combustible.upper() == 'D':
  if litros <= 15:
    precio_con_descuento = precio_diesel * hasta_15_litros_diesel
    neto = litros * precio_con_descuento
  else:
    precio_con_descuento = precio_diesel * mas_15_litros_diesel
    neto = litros * precio_con_descuento
elif tipo_combustible.upper() == 'E':
  if litros <= 15:
    precio_con_descuento = precio_etanol * hasta_15_litros_etanol
    neto = litros * precio_con_descuento
  else:
    precio_con_descuento = precio_etanol * mas_15_litros_etanol
    neto = litros * precio_con_descuento
print(f'El total de Litros es: {litros} \nPrecio: ${litros * precio_etanol} \nUsted tiene un descuento de: ${round(litros * precio_etanol - neto, 2)} \nMonto Bruto a pagar: {round(neto,2)}')

Ingresa la cantidad de litros: 25
Ingresa el tipo de combustible:
Diesel = D
Etanol = E e
El total de Litros es: 25.0
Precio: $42.5
Usted tiene un descuento de: $1.7
Monto Bruto a pagar: 40.8

In [ ]:
cantidad_ventas_2022 = int(input('Ingresa la cantidad de ventas del año 2022: '))
cantidad_ventas_2023 = int(input('Ingresa la cantidad de ventas del año 2023: '))


cant_ventas = []
cant_ventas.append(cantidad_ventas_2022)
cant_ventas.append(cantidad_ventas_2023)
variacion_porcentual = ((cantidad_ventas_2023 - cantidad_ventas_2022) / cantidad_ventas_2022) * 100
if variacion_porcentual > 20:
  print(f'El número de ventas en {2023 if cantidad_ventas_2022 < cantidad_ventas_2023 else 2022} fue mayor que el de {2022 if cantidad_ventas_2022 < cantidad_ventas_2023 else 2023}. \nSe obtuvo una variacion de:{round(variacion_porcentual,2)}% \nEl equipo de ventas recibira una bonificación, Felicidades!')
elif variacion_porcentual >= 2 and variacion_porcentual <= 20:
  print(f'El número de ventas en {2023 if cantidad_ventas_2022 < cantidad_ventas_2023 else 2022} fue mayor que el de {2022 if cantidad_ventas_2022 < cantidad_ventas_2023 else 2023}. \nSe obtuvo una variacion de:{round(variacion_porcentual,2)}% \nEl equipo de ventas recibira una pequeña bonificación, Felicidades!')
elif variacion_porcentual >= -10 and variacion_porcentual <= 2:
  print(f'El número de ventas en {2023 if cantidad_ventas_2022 < cantidad_ventas_2023 else 2022} fue mayor que el de {2022 if cantidad_ventas_2022 < cantidad_ventas_2023 else 2023}. \nSe obtuvo una variacion de:{round(variacion_porcentual,2)}% \nSe realizara una planificación de politicas de incentivos a las ventas')
else:
  print('Se realizara un recorte de gastos')

Ingresa la cantidad de ventas del año 2022: 199
Ingresa la cantidad de ventas del año 2023: 189
El número de ventas en 2022 fue mayor que el de 2023.
Se obtuvo una variacion de:-5.03%
Se realizara una planificación de politicas de incentivos a las ventas

#While
##Para el "while," el bloque se repite mientras una cierta condición sea verdadera. En el contexto de Ciencia de Datos, los bucles pueden contribuir significativamente a un estudio basado en datos.

In [ ]:
#Operadores de asignacion
precio = 2.00
precio += 3
print(precio)

5.0

In [ ]:
#Operador
#-=	Resta un valor de la variable precio	-= 5
#*=	Multiplica un valor por la variable precio	*= 3
#/=	Divide la variable por un valor precio	/= 2
#//=	Realiza una división entera de la variable por un valor precio	//= 6
#%=	Calcula el resto de la división del valor en la variable y asigna el resultado a la variable precio	%= 5

In [ ]:
#suma de 5 en 5}
count = 5
while count <= 100:
  print(f'-> {count}')
  count += 5

-> 5
-> 10
-> 15
-> 20
-> 25
-> 30
-> 35
-> 40
-> 45
-> 50
-> 55
-> 60
-> 65
-> 70
-> 75
-> 80
-> 85
-> 90
-> 95
-> 100

FOR
El lazo for es un tipo de estructura de control de flujo en Python que permite iterar sobre un conjunto de elementos. Su estructura es:

for elemento in conjunto:
    # codigo a ser ejecutado para cada elemento

continue interrumpe la iteración actual del bucle y salta a la siguiente, es decir, regresa al inicio del código. Como ejemplo, aquí hay un código que cuenta del 1 al 5 con un bucle for:

In [ ]:
for i in range(1, 6):
    if i == 4:
        continue
    print(i)

1
2
3
5

Por otro lado, break detiene por completo la ejecución del bucle, saliendo del bloque de código. Utilicemos el mismo ejemplo de conteo, pero esta vez con break:

In [ ]:
for i in range(1, 6):
    if i == 4:
        break
    print(i)

1
2
3

In [ ]:
num_entero_1 = int(input('Ingresa un numero entero: '))
num_entero_2 = int(input('Ingresa un numero entero: '))

if num_entero_1 % 2 == 0 and num_entero_2 % 2 == 0:
  if num_entero_1 < num_entero_2:
    for i in range(num_entero_1, num_entero_2 + 1, 2):
      print(i)
  else:
    for i in range(num_entero_2, num_entero_1 + 1, 2):
      print(i)
else:
  print('Los numeros no son pares')

Ingresa un numero entero: 5
Ingresa un numero entero: 12
Los numeros no son pares

In [ ]:
#Escribe un programa para calcular cuántos días tomará que la colonia de una bacteria A supere o iguale a la colonia de una bacteria B, basado en tasas de crecimiento del 3% y 1.5%, respectivamente. Supón que la colonia A comienza con 4 elementos y B con 10.
bacterias_a = 4
bacterias_b = 10

tasa_crecimiento_a = 0.03
tasa_crecimiento_b = 0.015

dias = 0

while bacterias_a < bacterias_b:
    bacterias_a *= (1 + tasa_crecimiento_a)
    bacterias_b *= (1 + tasa_crecimiento_b)
    print(f'Día {dias}\nCrecimiento Bacteria A: {round(bacterias_a,2)}\nCrecimiento Bacteria B: {round(bacterias_b,2)}')
    dias += 1
print(f'Se necesitaron {dias} dias para que la bacteria A supere a la bacteria B')

Día 0
Crecimiento Bacteria A: 4.12
Crecimiento Bacteria B: 10.15
Día 1
Crecimiento Bacteria A: 4.24
Crecimiento Bacteria B: 10.3
Día 2
Crecimiento Bacteria A: 4.37
Crecimiento Bacteria B: 10.46
Día 3
Crecimiento Bacteria A: 4.5
Crecimiento Bacteria B: 10.61
Día 4
Crecimiento Bacteria A: 4.64
Crecimiento Bacteria B: 10.77
Día 5
Crecimiento Bacteria A: 4.78
Crecimiento Bacteria B: 10.93
Día 6
Crecimiento Bacteria A: 4.92
Crecimiento Bacteria B: 11.1
Día 7
Crecimiento Bacteria A: 5.07
Crecimiento Bacteria B: 11.26
Día 8
Crecimiento Bacteria A: 5.22
Crecimiento Bacteria B: 11.43
Día 9
Crecimiento Bacteria A: 5.38
Crecimiento Bacteria B: 11.61
Día 10
Crecimiento Bacteria A: 5.54
Crecimiento Bacteria B: 11.78
Día 11
Crecimiento Bacteria A: 5.7
Crecimiento Bacteria B: 11.96
Día 12
Crecimiento Bacteria A: 5.87
Crecimiento Bacteria B: 12.14
Día 13
Crecimiento Bacteria A: 6.05
Crecimiento Bacteria B: 12.32
Día 14
Crecimiento Bacteria A: 6.23
Crecimiento Bacteria B: 12.5
Día 15
Crecimiento Bacteria A: 6.42
Crecimiento Bacteria B: 12.69
Día 16
Crecimiento Bacteria A: 6.61
Crecimiento Bacteria B: 12.88
Día 17
Crecimiento Bacteria A: 6.81
Crecimiento Bacteria B: 13.07
Día 18
Crecimiento Bacteria A: 7.01
Crecimiento Bacteria B: 13.27
Día 19
Crecimiento Bacteria A: 7.22
Crecimiento Bacteria B: 13.47
Día 20
Crecimiento Bacteria A: 7.44
Crecimiento Bacteria B: 13.67
Día 21
Crecimiento Bacteria A: 7.66
Crecimiento Bacteria B: 13.88
Día 22
Crecimiento Bacteria A: 7.89
Crecimiento Bacteria B: 14.08
Día 23
Crecimiento Bacteria A: 8.13
Crecimiento Bacteria B: 14.3
Día 24
Crecimiento Bacteria A: 8.38
Crecimiento Bacteria B: 14.51
Día 25
Crecimiento Bacteria A: 8.63
Crecimiento Bacteria B: 14.73
Día 26
Crecimiento Bacteria A: 8.89
Crecimiento Bacteria B: 14.95
Día 27
Crecimiento Bacteria A: 9.15
Crecimiento Bacteria B: 15.17
Día 28
Crecimiento Bacteria A: 9.43
Crecimiento Bacteria B: 15.4
Día 29
Crecimiento Bacteria A: 9.71
Crecimiento Bacteria B: 15.63
Día 30
Crecimiento Bacteria A: 10.0
Crecimiento Bacteria B: 15.87
Día 31
Crecimiento Bacteria A: 10.3
Crecimiento Bacteria B: 16.1
Día 32
Crecimiento Bacteria A: 10.61
Crecimiento Bacteria B: 16.34
Día 33
Crecimiento Bacteria A: 10.93
Crecimiento Bacteria B: 16.59
Día 34
Crecimiento Bacteria A: 11.26
Crecimiento Bacteria B: 16.84
Día 35
Crecimiento Bacteria A: 11.59
Crecimiento Bacteria B: 17.09
Día 36
Crecimiento Bacteria A: 11.94
Crecimiento Bacteria B: 17.35
Día 37
Crecimiento Bacteria A: 12.3
Crecimiento Bacteria B: 17.61
Día 38
Crecimiento Bacteria A: 12.67
Crecimiento Bacteria B: 17.87
Día 39
Crecimiento Bacteria A: 13.05
Crecimiento Bacteria B: 18.14
Día 40
Crecimiento Bacteria A: 13.44
Crecimiento Bacteria B: 18.41
Día 41
Crecimiento Bacteria A: 13.84
Crecimiento Bacteria B: 18.69
Día 42
Crecimiento Bacteria A: 14.26
Crecimiento Bacteria B: 18.97
Día 43
Crecimiento Bacteria A: 14.69
Crecimiento Bacteria B: 19.25
Día 44
Crecimiento Bacteria A: 15.13
Crecimiento Bacteria B: 19.54
Día 45
Crecimiento Bacteria A: 15.58
Crecimiento Bacteria B: 19.84
Día 46
Crecimiento Bacteria A: 16.05
Crecimiento Bacteria B: 20.13
Día 47
Crecimiento Bacteria A: 16.53
Crecimiento Bacteria B: 20.43
Día 48
Crecimiento Bacteria A: 17.02
Crecimiento Bacteria B: 20.74
Día 49
Crecimiento Bacteria A: 17.54
Crecimiento Bacteria B: 21.05
Día 50
Crecimiento Bacteria A: 18.06
Crecimiento Bacteria B: 21.37
Día 51
Crecimiento Bacteria A: 18.6
Crecimiento Bacteria B: 21.69
Día 52
Crecimiento Bacteria A: 19.16
Crecimiento Bacteria B: 22.01
Día 53
Crecimiento Bacteria A: 19.74
Crecimiento Bacteria B: 22.34
Día 54
Crecimiento Bacteria A: 20.33
Crecimiento Bacteria B: 22.68
Día 55
Crecimiento Bacteria A: 20.94
Crecimiento Bacteria B: 23.02
Día 56
Crecimiento Bacteria A: 21.57
Crecimiento Bacteria B: 23.36
Día 57
Crecimiento Bacteria A: 22.21
Crecimiento Bacteria B: 23.72
Día 58
Crecimiento Bacteria A: 22.88
Crecimiento Bacteria B: 24.07
Día 59
Crecimiento Bacteria A: 23.57
Crecimiento Bacteria B: 24.43
Día 60
Crecimiento Bacteria A: 24.27
Crecimiento Bacteria B: 24.8
Día 61
Crecimiento Bacteria A: 25.0
Crecimiento Bacteria B: 25.17
Día 62
Crecimiento Bacteria A: 25.75
Crecimiento Bacteria B: 25.55
Se necesitaron 63 dias para que la bacteria A supere a la bacteria B

In [ ]:
cant_datos = 16
#Verificar si las calificaciones son validad
lista_num = []
for j in range(1, cant_datos):
  for i in range(1,6):
    num_user = int(input(f'{j}-Califique el serivicio brindado de: 0 al 5:'))
    if (num_user >= 0 and num_user <= 5):
      lista_num.append(num_user)
      break
    else:
      print('Valor incorrecto, igrese un numero valido!')
      continue
for c in lista_num:
  print(f'Calificacion - {c}')

1-Califique el serivicio brindado de: 0 al 5:1
2-Califique el serivicio brindado de: 0 al 5:2
3-Califique el serivicio brindado de: 0 al 5:3
4-Califique el serivicio brindado de: 0 al 5:4
5-Califique el serivicio brindado de: 0 al 5:5
6-Califique el serivicio brindado de: 0 al 5:1
7-Califique el serivicio brindado de: 0 al 5:2
8-Califique el serivicio brindado de: 0 al 5:3
9-Califique el serivicio brindado de: 0 al 5:4
10-Califique el serivicio brindado de: 0 al 5:5
11-Califique el serivicio brindado de: 0 al 5:1
12-Califique el serivicio brindado de: 0 al 5:2
13-Califique el serivicio brindado de: 0 al 5:3
14-Califique el serivicio brindado de: 0 al 5:4
15-Califique el serivicio brindado de: 0 al 5:5
Calificacion - 1
Calificacion - 2
Calificacion - 3
Calificacion - 4
Calificacion - 5
Calificacion - 1
Calificacion - 2
Calificacion - 3
Calificacion - 4
Calificacion - 5
Calificacion - 1
Calificacion - 2
Calificacion - 3
Calificacion - 4
Calificacion - 5

In [ ]:
#conjunto indefinido de temperaturas
temperaturas = [25, 30, 15, -5, 0, 37, 18, -273, 42, -10, -20, 100, 12, 8, -40, -273]
for i in (temperaturas):
  if(i == -273):
    print(f'Temperatura no valida! -> {i}')
    break
  else:
    print(i)

25
30
15
-5
0
37
18
Temperatura no valida! -> -273

In [ ]:
#Calculando el factorial

numero = int(input('Ingrese un numero mayor que 0:'))
count = numero
factorial = 1
while count > 0:
  factorial*= count
  count -= 1
print(f"El factorial de {numero} es: {factorial}")

Ingrese un numero mayor que 0:10
El factorial de 10 es: 3628800

In [ ]:
#Tabla
numero_user = int(input('Ingrese un numero:'))
for i in range(1,11):
  print(f'{numero_user} * {i} = {numero_user * i}')

Ingrese un numero:2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [15]:
#numeros primos
numero = int(input('Ingrese un numero:'))
count = 0
if numero > 1:
  for i in range(1, numero +1):
    resultado = numero / i
    if resultado == int(resultado):
      count += 1
  if count == 2:
    print(f'El numero {numero} es primo')
  else:
    print(f'El numero {numero} no es primo')
else:
  print(f'El numero {numero} no es primo')

Ingrese un numero:8
El numero 8 no es primo