<a href="https://colab.research.google.com/github/JoshDevx/Practicando---Manipulaci-n-de-Datos-con-Python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Parcticando Python**

In [1]:
#Este es un comentario
print('Hola mundo!')

Hola mundo!

In [2]:
#Variables
soy_una_variable = 'Hola'
print(soy_una_variable)

Hola

In [3]:
#usamos -> id para saber donde se almacena el valor de la variable
print(id(soy_una_variable))

133826232726000

In [5]:
#Tipos de datos

#Tipo int
number = 1
print(type(number))

<class 'int'>

In [6]:
#Tipo float
number = 1.2
print(type(number))

<class 'float'>

In [7]:
#tipo booleano
aprobado = True
print(type(aprobado))

<class 'bool'>

In [11]:
#Algunos metodos de String
#Podemos crear Strings cuando atribuimos un dato a una variable entre comillas sencillas (') o comillas dobles (").

#convertir a mayusculas
nombre = ' Joshua'
print(nombre.upper())

#convertir a minusculas
apellido = ' Mendoza'
print(apellido.lower())

 JOSHUA
 mendoza

In [10]:
#Eliminar espacios en blanco
nombre = ' Joshua '
print(nombre.strip())

#Reemplazar
nombre = ' Joshua '
print(nombre.replace('u','o'))

Joshua
 Joshoa

In [13]:
#Usamos -> \t -> para dar una tabulacion y \n para dar un salto de linea
#usamor format -> f -> para agregar nuestras variables en el print
print(f'\tMi Nombre es: {nombre.upper()} \n\tMi apellido es: {apellido.upper()}')

	Mi Nombre es:  JOSHUA
	Mi apellido es:  MENDOZA

In [2]:
#INPUT
nombre = input('Ingresa tu nombre: ')
print(f'Hola {nombre}')

Ingresa tu nombre: Joshua
Hola Joshua

#Valores Unicode
[Unicode](https://www.unicode.org/versions/stats/)

In [7]:
#Valores Unicode
chr(64)

'@'

In [6]:
#Hola
chr(72) + chr(111) +  chr(108) + chr(97)

'Hola'

#Formatos de

```
print()
```

In [8]:
#f-string
nombre = "Ana María"
edad = 17
print(f"El nombre de la alumna es {nombre} y su edad es {edad} años.")

El nombre de la alumna es Ana María y su edad es 17 años.

#Tipo de Variable	Palabra Clave
- Cadena de texto	```
%s
```
- Entero ```
%d
```
- Punto flotante	 ```
%f
```
- Caractér ```
%c
```

In [9]:
#El % debe ir acompañado de una palabra clave para cada tipo de variable que se desee agregar.
nombre_alumno = 'Penélope Camacho'
print('Nombre del alumno: %s' %(nombre_alumno))

Nombre del alumno: Penélope Camacho

In [10]:
#Si tienes más de una variable, debes ordenarlas según su aparición en el texto y separarlas por comas.
nombre_alumno = 'Penélope Camacho'
edad_alumno = 11
media_alumno = 9.95
print('Nombre del alumno es %s, tiene %d años y su media es %f.' %(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Penélope Camacho, tiene 11 años y su media es 9.950000.

In [11]:
#sintaxis %.xf, donde x es el número de decimales deseados.
print('Nombre del alumno es %s, tiene %d años y su media es %.2f.' %(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Penélope Camacho, tiene 11 años y su media es 9.95.

In [12]:
#% no funcionan directamente con valores booleanos.
#Una forma de manejarlo es convirtiendo el valor booleano en una cadena antes de utilizarlo en el formateo con la función str()
x = True
print("Valor de x: %s" % str(x))

Valor de x: True

In [13]:
#Método .format():
nombre_alumno = 'Penélope Camacho'
print('Nombre del alumno: {}'.format(nombre_alumno))

Nombre del alumno: Penélope Camacho

In [14]:
nombre_alumno = 'Fabricio Daniel'
edad_alumno = 15
media_alumno = 9.95
print('Nombre del alumno es {}, tiene {} años y su media es {}.' .format(nombre_alumno, edad_alumno, media_alumno))

Nombre del alumno es Fabricio Daniel, tiene 15 años y su media es 9.95.

Nota que con .format(), no tienes el problema de los decimales de coma flotante. Tampoco tienes este problema con las f-strings.

**Caracteres especiales**

In [15]:
#\n es el carácter de nueva línea y se usa para saltar una línea en el texto (similar a la función "Enter").
print("Estudiar es un esfuerzo constante,\nEs como cultivar una planta,\nNecesitamos dedicación y paciencia,\nPara ver madurar el fruto.")

Estudiar es un esfuerzo constante,
Es como cultivar una planta,
Necesitamos dedicación y paciencia,
Para ver madurar el fruto.

In [16]:
#\t es el carácter de tabulación y se utiliza para agregar un espacio de tabulación en el texto.
print('Cantidad\tCalidad\n5 muestras\tAlta\n3 muestras\tBaja')

Cantidad	Calidad
5 muestras	Alta
3 muestras	Baja

In [17]:
#\\ se usa para imprimir una sola barra invertida.
print("Ruta del archivo: C:\\archivos\\documento.csv")

Ruta del archivo: C:\archivos\documento.csv

In [18]:
#\" se utiliza para imprimir comillas dobles cuando estamos trabajando con una cadena creada con comillas dobles "
print("Una vez oí: \"Los frutos del conocimiento son los más dulces y duraderos de todos.\"")

Una vez oí: "Los frutos del conocimiento son los más dulces y duraderos de todos."

In [19]:
#\' se utiliza para imprimir comillas simples cuando estamos trabajando con una cadena creada con comillas simples
print('Mi profesora una vez dijo: \'Estudiar es la clave del éxito.\'')

Mi profesora una vez dijo: 'Estudiar es la clave del éxito.'